<div class="d-flex text-center justify-content-center flex-column" style="color: var(--white);">
  <h1> 
    Your collection is empty!
  </h1>
  <h5 class="fw-light">
    This is the perfect opportunity to build your dream library. Let's explore!
  </h5>
</div>