  <footer>
    <div id="Footer" class="container view1 view2 py-3">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100068778787200" class="nav-link px-3">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="https://www.youtube.com/@cuongnguyen38535" class="nav-link px-3">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="https://x.com/Whisper30554598" class="nav-link px-3">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
        </ul>
        <p class="text-center">© 2024 Cuong's personal project</p>
      </footer>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/scripts/carousel.js"></script>  
  <script src="/scripts/swiper.js"></script>
  <script src="/scripts/addbook.js"></script>
  <script src="/scripts/deletebook.js"></script>
  <script src="/scripts/rating.js"></script>
  <script src="/scripts/swiper-bundle.min.js"></script>
</body>
</html>